.page-forecasting{
    width: 100%;
    padding: 20px 50px;
}
.page-beban{
    display: block;
    max-width: 150vh;
    padding: 5px 10px;
}
.data-beban{
    display: flex;
    width: 100%;
    background-color: aqua;
    padding: 2px;
}
.beban{
    width: 50px;
    margin: 5px;
}
.predic-beban{
    padding: 5px 10px
}