.box-forum{
position: block;
width: 90%;
margin-left: 50px;
border: rgb(233, 233, 233) solid 2px;
border-radius: 10px;
margin-bottom: 30px;
}
.box-forum .header-forum{
display: flex;
justify-content: space-between;
padding: 20px 30px;
background-color: rgb(221, 221, 221);
border-bottom: rgb(233, 233, 233) solid 2px;
border-radius: 8px 8px 0px 0px;
}
.button-add{
    background-color:rgb(9, 71, 169);
    border-radius: 50px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
}
.button-add:hover{
    background-color:rgb(211, 225, 249);
    color: rgb(9, 71, 169);
}
.search-forum{
    display: flex;
    align-items: center;
    height: 43px;
    width: 300px;
    border-radius: 20px;
    background-color: #fff;
    border: rgb(233, 233, 233) solid 2px;    
}
.form-search{
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.input-search{
    font-size: 12pt;
    border: none;
    outline: 0; 
    width: 100%;
    appearance: none; 
}
.submit-search{
    background-color:rgb(9, 71, 169);
    border-radius: 50px;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 8pt;
}
.content-forum{
    padding: 0px 40px;
    max-height: 70vh;
    overflow: auto;
}
.content-forum::-webkit-scrollbar {
    display: none;
  }
.box-pesan{
    margin: 10px 0px;
    width: 100%;
    border-radius: 25px;
    border: rgb(233, 233, 233) solid 2px;
    padding-bottom: 20px; 
}
.sampul-pesan{
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    max-height: 360px;
    overflow: hidden;
}
.sampul-pesan img{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.overlay {
  padding: 10px;
  width: 20%;
  text-align: end;
}

.menu-list{
    display: none;
    border-radius: 10px;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.menu-list.show{
    display: block;
}
.menu-list li, a{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    color: #311e69;
    font-size: 12pt;
}
.menu-list li:hover{
    background-color: #412692;
}
.menu-list a:hover{
    color: #ffffff;
}
.menu-button{
    background-color:rgba(255, 255, 255, 0);
    font-size: 16pt;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
}
.menu-button:hover{
    background-color: rgb(221, 221, 221);
    color: #fff;
}
.description{
    padding: 20px;
}
.box-info-upload{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    width: 100%;
}
.name-upload{
    color: #3e3e3e;
    font-size: 10pt;
    padding: 5px 0px;
}
.date-upload{
    color: #a8a8a8;
    font-size: 10pt;
}
.title-forum{
    color: #311e69;
    font-size: 26pt;
}
.message-forum{
    color: #373737;
    font-size: 12pt;
    padding: 10px 0px;
}
.button-komentar{
    background-color: rgb(225, 225, 225);
    border-radius: 50px;
    color: rgb(154, 154, 154);
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    text-decoration: none;
}
.button-komentar:hover{
    background-color:rgb(9, 71, 169);
    color: white;
}

.content-forum-add{
    padding: 20px 40px;
}
.content-forum-komentar{
    padding: 20px 40px;
}